site_name: Projeto Banco de Dados - Munchkin

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: red
      toggle:
        icon: material/brightness-7
        name: Mudar para o modo escuro

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: red
      toggle:
        icon: material/brightness-4
        name: Mudar para modo claro

  language: pt-BR
  navigation:
    tabs: true

site_name: Munchkin
nav:
  - Início: "index.md"
  - Módulo 1:
    - Modelo Entidade Relacionamento: "modulo01/mer.md"
    - Diagrama Entidade Relacionamento: "modulo01/der.md"
    - Modelo Lógico: "modulo01/ml.md"
    - Dicionário de Dados: "modulo01/dicionario.md"

plugins:
   - glightbox

extra:
  version:
    provider: mike